<!-- FOOTER -->
<footer id="main-footer" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col text-center py-4">
        <p class="m-2">
          Created by Tomás Catena for a course of
          <a
            href="https://www.udemy.com/course/just-express-with-a-bunch-of-node-and-http-in-detail/"
            target="_blank"
            >Robert Bunch</a
          >
        </p>
        <p class="m-2">
          Data provided by
          <a href="https://www.themoviedb.org/" target="_blank"
            >The Movie DB API</a
          >
        </p class="m-2">
        <p>Copyright &copy; <span id="year">2021</span> Movie Fan App</p>
      </div>
    </div>
  </div>
</footer>
